.razorpay-payment-button {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-top: 2.5rem;
    background-color: #1D4ED8 !important;
    color: #ffffff;
    font-size: 1.25rem;
    line-height: 1.75rem;
    border-radius: 0.5rem;
}
